.tt-dropdown-menu {
    right: -20% !important;
    margin-top: 0 !important;
}


.site-banner .inside #cxpmClientAccountWidget{
    float: right;
    margin-right: 71px;
}
.site-banner .quicklinks-wrapper {
    float: right;
    margin-right: 9px;
    border-right: 1px dotted #b2b2b2;
}
#cxpmClientAccountWidget .widget-text span a{
font-family: Open Sans Condensed,Open Sans,Helvetica,Arial,sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
#cxpmClientAccountWidget .widget-my-selection, #cxpmClientAccountWidget .widget-notifications{
padding-top:8px;
}
#cxpmClientAccountWidget .widget-icon .icon-shopping_basket{
color:#000000;
    font-size: 25px;
}
#cxpmClientAccountWidget .widget-text {
    padding-top: 8px;
}

.cxpmClientAccountPopinWrapper .cxpmClientAccountPopinContent h1 {
    left: initial;
    position: inherit;
    transform: inherit;
    font-size: 32px !important;
    line-height: inherit;
    width: inherit;
    top: inherit;
	
}

.article iframe {
    display: block;
    margin: 0 auto;
}

/***** STYLE PAGE EVENEMENT *****/

.page-events.event .mod-catal.catal-nav-affix .catal-nav-affix-list{
	display:none;
}
.page-events.event .mod-catal .btn-primary, .mod-catal .catal-ex-item-buttons-small .btn-primary, .mod-catal .catal-ex-item-buttons .btn-primary {
	    display: block;
    padding-top: 15px;
}

.page-events.event .mod-catal .catal-ex-item-buttons, .mod-catal .catal-ex-item-buttons-small {
	 float: right;
}

.page-events.event .edito.block-page h1{
	text-align: left;
	font-size: 45px;
}

.page-events.event .layout-2-col [id="zone2"]{
	width:100%;
}
	   
.page-events.event .edito.block-page h1{
	 margin: 35px 0 30px;
}

.page-events.event .mod-catal.catal-nav-ex{
	    padding-bottom: 0em;
		    height: 2.05em;
}
.page-events.event .mod-catal.catal-nav-ex .catal-nav-ex-sep {
	 height: 2.05em;
	 margin-top:0;
}

.page-events.event i.icon-catal.icon-catal-arrow-right:before {
    content: ""!important;
    display: block;
    width: 25px;
    height: 9px;
    background-image: url(/theme/retromobile_git_desktop/img/arrow-thin-dark.png);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -6px;

}

.page-events.event .mod-catal .catal-ex-item-stand-more-link span{
	    font-size: 16px;
    line-height: 24px;
    color: #185e3e;
    text-decoration: none;
    font-weight: 400;
}
  
.page-events.event .mod-catal .catal-ed-main .catal-ed-main-stand-ref {
font-weight: bold;
    font-size: 0.8em;
    margin-top: -2.5em;
}
.page-events.event .catal-ed-main-session{
	width: 62%;
}
.page-events.event a.catal-ed-activity-link:before {
    content: ""!important;
    display: inline-block;
    width: 42px;
    height: 42px;
    position: absolute;
    background-image: url(/theme/retromobile_git_desktop/img/icon/icon-orga-event.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -0.3em;
vertical-align: top;
margin-left: -60px;

}
.page-events.event a.catal-ed-activity-link:hover:before {
    content: ""!important;
    display: inline-block;
    width: 25px;
    height: 9px;
    background-image: url(/theme/retromobile_git_desktop/img/arrow-thin-dark.png);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 0.7em;
vertical-align: top;
margin-left: -60px;
}

.page-events.event a.catal-ed-activity-link:hover {
    color: #ffffff;
    background-color: #185e3e;
}

.page-events.event a.catal-ed-activity-link {
    display: inline;
    margin-left: 44px;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    padding: 7px;
    border-radius: 50px;
}

.page-events.event .mod-catal .catal-ed-main .catal-ed-main-desc-title{
	    padding-bottom: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-events.event h2.evd-infos-type-title.evd-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    margin-top: 20px;
    display: inherit;
}

.page-events.event .persons-event:before {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    border: 4px solid #185e3e;
    margin-right: 0.5em;
}


/*************************/

/*Catalogue*/
.mod-catal .catal-ex-item-title a {
    color: #000000 !important;
	font-weight: 500;
}

.mod-catal .catal-ex-item.is-premium .catal-ex-item-title a,.mod-catal .catal-ex-item.is-premium h3.catal-ex-item-title a {
    color: #185e3e !important;
	font-weight: 700;
}

.tt-highlight {
    color: #0c8192;
}

/** Liste d'articles **/

.article_list [class*=grid-]>:after, .list-articles [class*=grid-]>:after, .article_list [class*=grid-]>:before, .list-articles [class*=grid-]>:before{
border:0;
}


/**** FOCUS ****/

.article .focus1 a {
	color: #FFFFFF;
}

/*** PRECEDENT SUIVANT ***/

.article-navigation span.an-item-publication {
    display: none;
}

/*** CTA Espace exposant + Billet en vert***/ 
#zone1 .quicklinks .ql-item.linkid85938, #zone1 .quicklinks .ql-item.linkid78957{
    background: #185e3e;
}
#zone1 .quicklinks .ql-item .btn-primary .icon-tarifs::after, .right-navigation .ql-item .btn-primary .icon-tarifs::after {
background: #185e3e !important;
}

/* Accroche en h2 */
.article-intro .h2-like, .article-intro h2 {
    margin: 30px 0;
    padding: 0;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
    border: 0;
    font-style: italic;
}
.catalogue .shape:nth-child(1){background:#185e3e;}
.catalogue .shape:nth-child(2){background:#b53f51;}
.catalogue .shape:nth-child(3){background:#b7616f;}
/***** Menu rouge *****/
.main-navigation .mn-item-lvl-1>.mn-link:after {
background: #185e3e !important;
}
.content79538:not(.content78962):not(.content69567) .main-navigation .mn-menu-submenu, .parent66697:not(.content78962):not(.content69567) .main-navigation .mn-menu-submenu, .parent96782:not(.content78962):not(.content69567) .main-navigation .mn-menu-submenu{
background:#ffffff !important;
}
.content79538:not(.content78962):not(.content69567) .main-navigation .mn-menu-submenu .mn-link, .parent66697:not(.content78962):not(.content69567) .main-navigation .mn-menu-submenu .mn-link{
background:#ffffff !important;
}
.main-navigation .mn-menu-submenu .mn-menu-item-avecpicto .mn-link-text{
    margin-left: -0.25em;
}

.site-banner .icon-linkedin:before {
    background-image: url(/theme/retromobile_git_desktop/img/icon/linkedin-icon.png);
}
